/* navbar */
.hamburger{
    display: none;
}
.hamburger > div {
  height: 2px;
  width: 2.4rem;
  background-color: #000;
}
.hamburger__middle{
    margin: 6px 0;
}
@media only screen and (max-width:375px) {
    .hamburger{
        display: block;
    }
    .nav-right{
        display: none;
    }
    .nav-left-text{
        font-size: 2.1rem;
    }
    .nav-left-text span{
        font-size: 2.1rem;
    }   
    .nav-left__icon{
        width: 2.8rem;
        height: 3.3rem;
    }
}