/* navbar */
.hamburger {
  display: none;
}
.hamburger > div {
  height: 2px;
  width: 2.4rem;
  background-color: #000;
}
.hamburger__middle {
  margin: 6px 0;
}
@media only screen and (max-width: 430px) {
  /* Common */
  .section-heading {
    font-size: 2rem;
  }
  .section-paragraph {
    font-size: 1.4rem;
  }
  .hamburger {
    display: block;
  }
  .nav-right {
    display: none;
  }
  .nav-left-text {
    font-size: 2.1rem;
  }
  .nav-left-text span {
    font-size: 2.1rem;
  }
  .nav-left__icon {
    width: 2.8rem;
    height: 3.3rem;
  }
  /* hero section */
  .hero {
    padding: 2rem;
  }
  .hero h1 {
    font-size: 2.2rem;
  }
  .hero p {
    font-size: 1.4rem;
  }
  .hero-form {
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 70vw;
  }
  .c-input {
    width: 100%;
    margin-left: 0;
    margin: 4px 0;
  }
  .btn-submit {
    width: 100%;
    margin: 0;
    margin-top: 4px;
  }
  .ml-0 {
    margin-left: 0;
  }
  .hero-form {
    padding: 1.5rem;
  }
  /* Section -1 */
  .section-1 {
    flex-direction: column;
  }
  .width-50 {
    width: 100%;
  }
  .section-1_ul {
    margin-left: 5px;
  }
  .section-1__left {
    margin-bottom: 2rem;
  }
  /* Section-2 */
  .grid_1,
  .grid_2,
  .grid_3 {
    grid-template-columns: 1fr;
  }
  /* section 3 */
  .section-3_cart_container {
    flex-direction: column;
  }
  .place-me-center {
    justify-content: start;
  }
  .section-3_cart_container_2 {
    width: 100%;
  }
}
