* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
  font-size: 62.5%;
}
/* Common */
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.margin-b {
  margin-bottom: 70px;
}
.section-heading{
  font-size: 4rem;
  font-weight: 800;
  color: #131318;
}
.section-paragraph{
  font-size: 1.6rem;
  line-height: 2.6rem;
  color:#5A5A5D;
}
/* navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-left {
  display: flex;
  align-items: center;
}
.nav-left-text {
  font-size: 3.6rem;
  font-weight: 800;
  margin-left: 1.6rem;
}
.nav-left-text span {
  color: #ff5400;
  font-size: 3.6rem;
}
.nav-left img {
  width: 100%;
  height: 100%;
}
.nav-right ul {
  display: flex;
}
.nav-right li {
  margin-left: 4.4rem;
}
.nav-right__list li:first-child a {
  color: #ff5400;
}
.nav-right a {
  color: #424247;
  font-size: 1.8rem;
}

/* main  */
main {
  /* width: 1170px; */
  margin: 0 auto;
}
/* banner section */
.hero {
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  border-radius: 16px;
  background: linear-gradient(
    180deg,
    rgba(19, 19, 24, 0.8) 0%,
    rgba(19, 19, 24, 0) 100%
  );
}
.hero img {
  position: absolute;
  z-index: -5;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.hero h1 {
  color: #fff;
  font-size: 6.4rem;
  font-weight: 800;
}
.hero p {
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  line-height: 2.6rem;
  margin: 2.4rem 0;
}
.c-input {
  width: 174px;
  height: 52px;
  border-radius: 8px;
  background: #fff;
  border: none;
  font-size: 1.6rem;
  padding: 0 5px;
  margin-left: 2.4rem;
  display: block;
}
.btn {
  color: #fff;
  width: 174px;
  height: 52px;
  border-radius: 8px;
  background: #ff5400;
  border: none;
  cursor: pointer;
  font-size: 1.6rem;
  transition: background 0.5s;
}
.btn:hover {
  background: #d84f0b;
}
.btn-submit {
  font-size: 1.6rem;
  font-weight: 700;
  margin-left: 2.4rem;
}
.hero-form {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  padding: 1.5rem;
}
.ml-0{
  margin-left: 0;
}
/* Section -1 */
.section-1{
  display: flex;
  justify-content: space-between;
  height: 50rem;
}
.section-1 h2{
  margin-top: 6.4rem;
}
.section-1 p{
  margin: 2.4rem 0;
}
.width-50{
  width: 50%;
}
.section-1_ul{
  margin-left:1rem;
  list-style: disc;
}
.section-1__right img{
  height: 100%;
  width: 100%;
}
.section-1_ul li{
  margin: 0 0 2rem 4rem;
}